<!DOCTYPE HTML>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/modal.css" rel="stylesheet" />
    <noscript><link href="~/css/noscript.css" rel="stylesheet" /></noscript>
</head>
<body class="is-preload">
    <!-- Scripts -->
    <script src="~/jsLayout/jquery.min.js"></script>
    <script src="~/jsLayout/jquery.mask.min.js"></script>
    <script src="~/jsLayout/browser.min.js"></script>
    <script src="~/jsLayout/breakpoints.min.js"></script>
    <script src="~/jsLayout/util.js"></script>
    <script src="~/jsLayout/main.js"></script>
    <!-- Wrapper -->
    <div id="wrapper">
        <script type="text/javascript">
          var texto = JSON.parse('@Html.Raw(ViewBag.objResponsetToRequisition)');
          alert(texto.messageResponse);
        </script>
        @RenderBody()
        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Desenvolvido por: Daniel Mendes Valerio <a href="https://www.linkedin.com/in/daniel-mendes-valerio-56941549/" target="_blank">Linkedin</a>.</p>
        </footer>
    </div>
</body>
</html>


